h1, h2, h3, h4, h5, h6 {
  font-family: "FuturaBold",Helvetica,Arial,sans-serif;
  margin: 0;
}

p {
  font-family: Georgia,serif;
  letter-spacing: 0.5px;
  margin: 0;
}

a {
  font-family: Georgia,serif;
  color: #DDA832;
}

.top-nav {
  background-color: #45290F;
  width: 100%;
  height: 50px;
}

.entire {
  width: 100%;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 80px;
}

.header p {
  font-size: 25px;
}

.donate-button {
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Arial;
  color: #49280A;
  font-size: 20px;
  background: rgba(192,192,192,0.0);;
  padding: 10px 20px 10px 20px;
  border: solid #49280A 2px;
  text-decoration: none;
  width: 200px;
  text-align: center;
}

.donate-button:hover {
  background: #E4A912;
  text-decoration: none;
}

.header-container {
  background-color: #E4CDAB;
  width: 100%;
}

.s1 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.s1-container {
  width: 100%;
  background-color: #E7DDAB;
}

 .s1-picker img, .s1-robot img, .s1-drinker img {
  border-radius: 50%;
  width: 50%;
}

 .s1-picker, .s1-robot, .s1-drinker {
  width: 33%;
  display: inline-block;
  text-align: center;
 }


nav {
  float: right;
}

.s2 {
  background-image: url("../images/coffee-parallax.jpg");
  background-attachment: fixed;
  height: 450px;
}

.s2-quote {
  font-size: 60px;
  color: white;
  width: 80%;
  text-align: right;
  margin: 0 auto;
}

.s3-container {
  background-color: #E4CDAB;
  width: 100%;
}

.s3 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background-color: #45290F;
  width: 100%;
}